aiohttp==3.7.2
aioitertools==0.7.0
alembic==1.4.3
smart-open==1.11.1
tqdm==4.51.0
optuna==2.3.0
requests==2.24.0
scikit-learn
scipy
pyarrow
numpy
pandas
pickle5
ipykernel
black
lifelines
ipykernel
matplotlib